.cursor,
.follow {
  position: fixed;
  pointer-events: none;
  transform: rotate(45deg);
  z-index: 9999;
}

.cursor {
  width: 10px;
  height: 10px;
  background: $accent;
  transition: height .4s cubic-bezier(0.75, -1.27, 0.3, 2.33),
    width .4s cubic-bezier(0.75, -1.27, 0.3, 2.33);
}

.follow {
  width: 30px;
  height: 30px;
  border: 2px solid rgba($accent, 0.3);
  transition: border .4s cubic-bezier(0.75, -1.27, 0.3, 2.33);
}

.cursor.active {
  width: 1px;
  height: 1px;
}

.follow.active {
  border-color: transparent;

}

.follow.cycle-active {
  border-radius: 50%;
}

.follow__txt {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $accent;
  opacity: 0;
  border-radius: 50%;
  transition: opacity .4s cubic-bezier(0.75, -1.27, 0.3, 2.33),
    height .4s cubic-bezier(0.75, -1.27, 0.3, 2.33),
    width .4s cubic-bezier(0.75, -1.27, 0.3, 2.33);
  transition-delay: .1s;
}

.follow.active .follow__txt {
  width: 90px;
  height: 90px;
  opacity: 1;
}

.follow__txt div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(-45deg);
}