.cursor,
.follow {
  position: fixed;
  pointer-events: none;
  transform: rotate(45deg);
  z-index: 9999;
}

.cursor {
  width: 10px;
  height: 10px;
  background: $accent;
  will-change: transform;
  transition: transform .4s cubic-bezier(.9, 0, .1, 1);

  &.active {
    transform: rotate(45deg) scale(0);
  }
}

.follow {
  width: 30px;
  height: 30px;
  border: 2px solid rgba($accent, 0.3);
  will-change: transform;
  transform-style: preserve-3d;
  transition: border .4s cubic-bezier(.9, 0, .1, 1);

  &.active {
    border-color: transparent;

    .follow__txt {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &.active-small {
    border-radius: 50%;
  }

  &__txt {
    position: absolute;
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    background-color: $accent;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: $accent;
    transition: opacity .4s cubic-bezier(0.75, -1.27, 0.3, 2.33),
      transform .4s cubic-bezier(0.75, -1.27, 0.3, 2.33);
    transition-delay: .1s;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: $light;
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}