html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Archivo",
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $dark;
  background-color: $light;
  overflow-x: hidden;

  &.lock {
    overflow-y: hidden;
  }
}

.wrapper {
  position: relative;
  overflow-x: hidden;

  &.lock {
    overflow-y: hidden;
  }
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 90px 0;

  @media (max-width: 1200px) {
    padding: 60px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-accent {
  color: $accent;
  text-transform: uppercase;
  font-weight: 500;
}

.title {
  line-height: 1;
  text-transform: uppercase;

  &__text {
    font-size: 64px;
    font-weight: 700;
    color: $dark-grey;
    margin-bottom: -10px;

    @media (max-width: 992px) {
      font-size: 56px;
    }

    @media (max-width: 576px) {
      font-size: 48px;
    }
  }

  &__headline {
    position: relative;
    display: inline-block;
    font-family: "Tenor Sans",
      sans-serif;
    font-size: 90px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $accent;
      bottom: 15px;
      right: -26px;

      @media (max-width: 992px) {
        width: 20px;
        height: 20px;
        bottom: 12px;
        right: -17px;
      }

      @media (max-width: 576px) {
        width: 18px;
        height: 18px;
        bottom: 10px;
        right: -17px;
      }
    }

    @media (max-width: 992px) {
      font-size: 70px;
    }

    @media (max-width: 576px) {
      font-size: 60px;
    }
  }
}

.skills {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;


  &__item {
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.4s ease-in-out;

    &:hover {
      filter: saturate(100%);
      -webkit-filter: saturate(100%);
      -moz-filter: saturate(100%);
    }
  }

  &__icon {
    width: 36px;
    height: 36px;

    &--git {
      width: 65px;
      height: 28px;
    }

    &--tailwind {
      width: 144px;
      height: 18px;
    }

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
}