html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Archivo",
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $dark;
  background-color: $light;
  overflow-x: hidden;

  &.lock {
    overflow-y: hidden;
  }
}

.wrapper {
  position: relative;
  overflow-x: hidden;

  &.lock {
    overflow-y: hidden;
  }
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 90px 0;

  @media (max-width: 1200px) {
    padding: 60px 0;
  }

  @media (max-width: 768px) {
    padding: 40px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-accent {
  color: $accent;
  text-transform: uppercase;
  font-weight: 500;
}

.title {
  line-height: 1;
  text-transform: uppercase;

  &__text {
    font-size: 64px;
    font-weight: 700;
    color: $dark-grey;
    margin-bottom: -10px;

    @media (max-width: 992px) {
      font-size: 56px;
    }

    @media (max-width: 576px) {
      font-size: 48px;
    }
  }

  &__headline {
    position: relative;
    display: inline-block;
    font-family: "Tenor Sans",
      sans-serif;
    font-size: 90px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $accent;
      bottom: 15px;
      right: -26px;

      @media (max-width: 992px) {
        width: 20px;
        height: 20px;
        bottom: 12px;
        right: -17px;
      }

      @media (max-width: 576px) {
        width: 18px;
        height: 18px;
        bottom: 10px;
        right: -17px;
      }
    }

    @media (max-width: 992px) {
      font-size: 70px;
    }

    @media (max-width: 576px) {
      font-size: 60px;
    }
  }
}

.work-card {
  &__subtitle {
    font-size: 24px;
    line-height: 1;
    color: $grey;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__title {
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      font-size: 36px;
      margin-bottom: 16px;
    }

    @media (max-width: 480px) {
      font-size: 32px;
    }

    &--small {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-family: "Archivo",
      sans-serif;
    position: relative;
    max-width: 700px;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 6px;
      background-color: $accent;
    }

    &--small {
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__skills {
    flex-wrap: nowrap;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }

  &__extra-link {
    display: none;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: outline 0.3s ease-in, opacity 0.3s ease-in;

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 2px;
    }

    &:active {
      opacity: 0.5;
    }

    @media (max-width: 768px) {
      display: block;
    }

    @media (max-width: 480px) {
      height: 200px;
    }
  }

  &__extra-image {
    object-fit: cover;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 48px;


    @media (max-width: 992px) {
      gap: 40px;
      row-gap: 16px;
    }

    @media (max-width: 768px) {
      gap: 30px;
      row-gap: 16px;
    }

    &--small {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }


  }

}

.skills {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.4s ease-in-out;

    &:hover {
      filter: saturate(100%);
      -webkit-filter: saturate(100%);
      -moz-filter: saturate(100%);
    }
  }

  &__icon {
    width: 28px;
    height: 28px;

    &--git {
      width: 65px;
      height: 28px;
    }

    &--tailwind {
      width: 100px;
      height: 14px;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    color: $light;
    font-size: 28px;
    line-height: 1;
    font-weight: 500;
    transition: color 0.3s ease-in-out,
      outline 0.3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $accent;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.4s ease-in-out;
    }

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      .social__icon {
        fill: $accent;
      }
    }

    &:active {
      color: $grey;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: $light;
    transition: fill 0.3s ease;
  }
}