.about {
  padding: 40px 0;

  &__inner {
    display: flex;
    gap: calc(20px + 2vw);
    align-items: stretch;

    @media (max-width: 480px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__img-box {
    min-width: 200px;
    max-width: 440px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

    @media (max-width: 480px) {
      order: 2;
      height: 300px;
    }
  }

  &__image {
    width: 100%;

    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 576px) {
      order: 1;
    }
  }

  &__text {
    width: 100%;
    font-family: "Tenor Sans",
      sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 1.2;

    @media (max-width: 1440px) {
      font-size: calc(32px + (56 - 32) * ((100vw - 375px) / (1440 - 375)));
    }
  }

  &__list {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.4s ease-in-out;

    &:hover {
      filter: saturate(100%);
      -webkit-filter: saturate(100%);
      -moz-filter: saturate(100%);
    }
  }

  &__icon {
    width: 44px;
    height: 44px;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }


}