.header {
  padding: 20px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Archivo",
      sans-serif;
    color: $dark;
    font-size: 20px;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__item-link {
    display: block;
    position: relative;
    color: $grey;

    text-transform: uppercase;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -4px;
      background-color: $accent;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.4s ease-in-out;

    }

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &:active {
      color: $accent;
    }
  }

  &__mobile-btn {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }

}

.mobile-menu {
  position: absolute;
  z-index: 120;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 480px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 40px 40px;
  background-color: $dark;
  transform: translateX(300%);
  transition: transform 0.6s ease-in-out;

  @media (max-width: 375px) {
    padding: 100px 20px 20px 20px;
  }

  &--active {
    transform: translateX(0);
  }

  &__list {
    margin-bottom: 40px;
  }

  &__link {
    display: block;
    padding: 8px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.3;
    color: $light;

    transition: color 0.3s,
      outline 0.4s;

    &.current {
      color: $accent;
    }

    &:focus {
      outline: solid 1px $accent;
      border-radius: 4px;
    }

    &:active {
      color: rgba($accent, 0.5);
    }
  }

  &__contact-link {
    display: block;
    padding: 4px 0;
    font-size: 36px;
    color: $light;
    margin-bottom: 20px;
    font-family: "Tenor Sans",
      sans-serif;

    &:focus {
      outline: solid 1px $accent;
      border-radius: 4px;
    }

    &:active {
      color: $accent;
    }

    @media (max-width: 375px) {
      font-size: 24px;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      .mobile-menu__social-icon {
        fill: $accent;
      }
    }

    &:active {
      color: $grey;
    }
  }

  &__social-icon {
    width: 52px;
    height: 52px;
    fill: $light;
    transition: fill 0.3s ease;
  }

  &__button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}