.react {
  &__wrapper {
    position: relative;

    &::before {
      position: absolute;
      z-index: 0;
      display: inline-block;
      content: "react app";
      text-transform: uppercase;
      bottom: -90px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: "Archivo",
        sans-serif;
      font-weight: 700;
      font-size: 220px;
      line-height: 1;
      color: $light-grey;
    }

    @media (max-width: 1440px) {
      &::before {
        font-size: calc(56px + (220 - 56) * ((100vw - 375px) / (1440 - 375)));
        bottom: calc(-90px + 2vw);
      }
    }
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 50px;

    justify-content: space-between;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 30px;
      row-gap: 50px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: outline 0.3s ease-in, opacity 0.3s ease;

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 2px;
    }

    &:hover {
      .react__img {
        transform: scale(1.2);
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__img {
    object-fit: cover;
    transition: transform 0.3s ease-in;

    @media (max-width: 768px) {
      height: 300px;
    }

    @media (max-width: 480px) {
      height: 200px;
    }
  }


}