.works {
  position: relative;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: $light;

  @media (max-width: 768px) {
    padding-bottom: 70px;
    padding-top: 0;
  }

  &__wrapper {
    position: relative;

    &::before {
      position: absolute;
      z-index: 0;
      display: inline-block;
      content: "react app";
      text-transform: uppercase;
      bottom: -90px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: "Archivo",
        sans-serif;
      font-weight: 700;
      font-size: 220px;
      line-height: 1;
      color: $light-grey;
    }

    @media (max-width: 1440px) {
      &::before {
        font-size: calc(56px + (220 - 56) * ((100vw - 375px) / (1440 - 375)));
        bottom: -50px;
      }
    }

    @media (max-width: 768px) {
      &::before {
        bottom: 0;
      }
    }
  }

  &__title-h1 {
    margin-bottom: 20px;
  }

  &__headline {
    margin-bottom: -10px;

    @media (max-width: 480px) {
      margin-bottom: -4px;
    }
  }

  &__fiters-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  &__item {
    @media (max-width: 768px) {
      max-width: 576px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__list {
    position: relative;
    z-index: 3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 30px;
      row-gap: 50px;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 576px) {
      row-gap: 30px;
    }
  }

  &__item {
    &.hide {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      transition-delay: 0.5s;
    }

    &.show {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &__link {
    display: block;
    max-width: 690px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: outline 0.3s ease-in, opacity 0.3s ease;

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 2px;
    }

    &:hover {
      .works__img {
        transform: scale(1.2);
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__img {
    object-fit: cover;
    transition: transform 0.3s ease-in;

    height: auto;
  }

}