.work {


  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__left {
    position: relative;
    width: 40%;
    z-index: 2;

    @media (max-width: 992px) {
      width: 48%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      padding: 30px 0;
      height: auto;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1;
    color: $grey;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      font-size: 36px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-family: "Archivo",
      sans-serif;
    position: relative;
    max-width: 700px;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 6px;
      background-color: $accent;
    }
  }

  &__skills {
    margin-bottom: 80px;

    @media (max-width: 992px) {
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__btns {
    display: flex;
    gap: 20px;
  }

  &__extra-link {
    display: none;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: outline 0.3s ease-in, opacity 0.3s ease-in;

    &:focus {
      outline: solid 1px $accent;
      outline-offset: 2px;
    }

    &:active {
      opacity: 0.5;
    }

    @media (max-width: 768px) {
      display: block;
    }

    @media (max-width: 480px) {
      height: 200px;
    }
  }

  &__extra-image {
    object-fit: cover;
  }

  &__right {
    width: 48%;
    height: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }


  &__right-bl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;

    &::before {
      position: absolute;
      z-index: 0;
      display: inline-block;
      content: "work";
      text-transform: uppercase;
      bottom: 10px;
      left: 0;
      transform: translateX(-110%);
      right: 0;
      text-align: center;
      font-family: "Archivo",
        sans-serif;
      font-weight: 700;
      font-size: 220px;
      line-height: 1;
      color: $light-grey;
    }

    @media (max-width: 1440px) {
      &::before {
        font-size: calc(62px + (240 - 62) * ((100vw - 375px) / (1440 - 375)));
      }
    }
  }

  &__photo {
    width: 100%;
    height: 85vh;
    position: relative;
  }

  &__photo-item {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}