<section class="about section">
  <div class="container">
    <div class="about__inner">
      <h2 class="sr-only">About Iryna Kozlova</h2>
      <div class="about__img-box">
        <img class="about__image" src="./images/images/kozlova.jpg" alt="Developer Kozlova Iryna" width="440"
          height="400">
      </div>

      <div class="about__content">
        <p class="about__text">
          I <span class="text-accent reveal-type"> create </span> elegant and user <span
            class="text-accent reveal-type"> friendly </span> interfaces that captivate
          audiences
        </p>
        <ul class="skills">
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-html"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-css"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-js"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-wp"></use>
            </svg>
          </li>

          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-react"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-github"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon skills__icon--git" width="65" height="28">
              <use href="./images/icons/symbol-defs.svg#icon-git"></use>
            </svg>
          </li>

          <li class="skills__item">
            <svg class="skills__icon skills__icon--tailwind" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-tailwind"></use>
            </svg>
          </li>
          <li class="skills__item">
            <svg class="skills__icon" width="20" height="20">
              <use href="./images/icons/symbol-defs.svg#icon-gsap"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>