<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <div class="footer__contact">
          <p class="footer__text">
            Get in touch
          </p>
          <a class="footer__link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=kozlova.ux@gmail.com"
            target="_blank">
            kozlova.ux@gmail.com
          </a>
        </div>
        <ul class="footer__social social">
          <li class="social__item">
            <a class="social__link" href="https://www.linkedin.com/in/iryna-kozlova/" target="_blank"
              title="Go to Linkedin">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-linkedin"></use>
              </svg>
              Linkedin
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://github.com/oilprint" target="_blank" title="Go to Github">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
              </svg>
              Github
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/irn_oilprint/" target="_blank"
              title="Go to Instagram">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
              </svg>
              Instagram
            </a>
          </li>
        </ul>
      </div>
      <a href="#header" class="logo logo--white footer__logo">
        <span class="sr-only">logo Developer Iryna Kozlova</span>
        <svg class="logo__icon" width="160" height="32">
          <use href="./images/logo.svg#icon-logo-white"></use>
        </svg>
      </a>
    </div>

    <div class="footer__bottom">
      <p class="footer__bottom-text">
        © 2024
      </p>
      <a class="footer__bottom-link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=kozlova.ux@gmail.com"
        target="_blank">
        Code by kozlova.ux
      </a>
    </div>
  </div>
</footer>