<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <div class="footer__contact">
          <p class="footer__text">
            get in touch
          </p>
          <a class="footer__link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=kozlova.ux@gmail.com"
            target="_blank">
            kozlova.ux@gmail.com
          </a>
        </div>
        <ul class="footer__social">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-linkedin"></use>
              </svg>
              Linkedin
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
              </svg>
              Instagram
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="logo header__logo">
        <img class="logo__img" src="./images/icons/logo-white.svg" alt="Designer Developer Iryna Kozlova" width="220"
          height="43">
      </a>
      <div class="footer__bottom">
        <p class="footer__bottom-text">
          © 2024
        </p>
        <a class="footer__bottom-link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=kozlova.ux@gmail.com"
          target="_blank">
          created by kozlova.ux
        </a>
      </div>

    </div>

</footer>