<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="#" class="logo header__logo">
        <img class="logo__img" src="./images/icons/logo.svg" alt="Designer Developer Iryna Kozlova" width="150"
          height="30">
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__item-link">Work</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>