<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <span class="hero__headline">
        web
      </span>
      <h1 class="hero__title">Developer</h1>
      <div class="hero__bottom">
        <p class="hero__subtitle">Designer</p>
        <p class="hero__text">
          I’m Iryna a digital
          <span class="text-accent">designer</span> and creative
          <span class="text-accent">developer</span> passionate about creating memorable
          experiences.
          With a
          unique fusion of technology and design, I create elegant and
          <span class="text-accent">user friendly </span> interfaces that captivate audiences
          and leave
          a lasting impression.
        </p>


      </div>

    </div>
  </div>
</section>