<section class="section horizontal-items" data-scroll-section>

  <div class="marq">
    <div class="marq__wrapp marq__wrapp--1">
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>


    </div>

    <div class="marq__wrapp marq__wrapp--2">
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>


    </div>

  </div>


</section>