<section class="section projects gsap__anim2">
  <div class="container">
    <div class="projects__wrapper">
      <div class="title projects__title">
        <p class="title__text title__r">
          Recent
        </p>
        <h2 class="title__headline">
          Works
        </h2>
      </div>

      <ul class="projects__list22">

        <li class="projects__item2">
          <a class="projects__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="projects__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store"
              width="690" height="350" loading="lazy">
          </a>
        </li>
        <li class="projects__item2">
          <a class="projects__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="projects__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store"
              width="690" height="350" loading="lazy">
          </a>
        </li>
        <li class="projects__item2">
          <a class="projects__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="projects__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store"
              width="690" height="350" loading="lazy">
          </a>
        </li>
        <li class="projects__item2">
          <a class="projects__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="projects__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store"
              width="690" height="350" loading="lazy">
          </a>
        </li>


      </ul>

      <!-- <ul class="serv__list">
        <li class="serv__item">
          <h3 class="serv__item-title">Design</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              Design
            </p>
            <p class="serv__item-text ">
              Having successfully designed numerous websites and applications, I specialize in crafting compelling and
              intuitive digital interfaces. Establishing a strong brand identity is essential for the success of any
              website.
            </p>
          </div>
        </li>
        <li class="serv__item">
          <h3 class="serv__item-title">Front end Development</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              Front end Development
            </p>
            <p class="serv__item-text">
              I develop flexible websites from the ground up, ensuring they harmonize perfectly with the overall design.
              My primary emphasis is on incorporating subtle micro animations, smooth transitions, and engaging
              interactive features.
            </p>
          </div>
        </li>
        <li class="serv__item">
          <h3 class="serv__item-title">The full package</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              The full package
            </p>
            <p class="serv__item-text">
              Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
              adept development capabilities empower me to produce exceptional results.
            </p>
          </div>
        </li>
        <li class="serv__item">
          <h3 class="serv__item-title">The full package</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              The full package
            </p>
            <p class="serv__item-text">
              Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
              adept development capabilities empower me to produce exceptional results.
            </p>
          </div>
        </li>
        <li class="serv__item">
          <h3 class="serv__item-title">The full package</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              The full package
            </p>
            <p class="serv__item-text">
              Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
              adept development capabilities empower me to produce exceptional results.
            </p>
          </div>
        </li>
        <li class="serv__item">
          <h3 class="serv__item-title">The full package</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              The full package
            </p>
            <p class="serv__item-text">
              Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
              adept development capabilities empower me to produce exceptional results.
            </p>
          </div>
        </li>
        <li class="serv__item">
          <h3 class="serv__item-title">The full package</h3>
          <div class="serv__item-img">
            <p class="serv__item-title serv__item-title--small">
              The full package
            </p>
            <p class="serv__item-text">
              Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
              adept development capabilities empower me to produce exceptional results.
            </p>
          </div>
        </li>
      </ul> -->

      <!-- <ul class="projects__list">
        <li class="projects__item">
          <a class="projects__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="projects__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store"
              width="690" height="350" loading="lazy">
          </a>
          <article class="work-card ">
            <p class="work-card__subtitle">
              Role: Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Italian Pizza Online Store
            </h2>
            <p class="work-card__text work-card__text--small ">
              Italian Pizza is a web application for ordering delicious pizzas online, built using the latest web
              technologies, including projects and SCSS, to deliver a visually appealing and responsive design.
            </p>
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills projects__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-projects"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a class="work-card__btn-link button button--secondary" href="https://github.com/oilprint/pizza"
                    target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://italian-pizza-eta.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Demo
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="projects__item">
          <a class="projects__link hover-scale" href="https://education-center-one.vercel.app/" target="_blank">
            <img class="projects__img" src="./images/images/works/education.webp" alt="website" width="690" height="350"
              loading="lazy">
          </a>
          <article class="work-card">
            <p class="work-card__subtitle">
              Role: Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Education center
            </h2>
            <p class="work-card__text work-card__text--small ">
              Developed using projects technology, this website is designed to provide information about available
              courses,
              services
              and other useful information to potential students.
            </p>
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills projects__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-projects"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon skills__icon--tailwind" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-tailwind"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a href="https://github.com/oilprint/tech_group/tree/main"
                    class="work-card__btn-link button button--secondary" target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://education-center-one.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Demo
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
      </ul> -->
    </div>
  </div>
</section>