<section class="section horizontal-items" data-scroll-section>
  <h2 class="sr-only">My work</h2>
  <div class="marq">
    <div class="marq__wrapp marq__wrapp--1">
      <a class="marq__item" title="Go to site" href="https://art-shoes-three.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/artshoese.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" title="Go to site" href="https://tech-group.vercel.app/" target="_blank">
        <video class="marq__img" src="./images/video/education_centr-small.mp4" loop muted autoplay
          loading="lazy"></video>
      </a>
      <a class="marq__item" title="Go to site" href="https://italian-pizza-eta.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" title="Go to site" href="https://pitch-apps-dark.vercel.app/" target="_blank">
        <video class="marq__img" src="./images/video/pitch_video.mp4" loop muted autoplay loading="lazy"></video>
      </a>
    </div>

    <div class="marq__wrapp marq__wrapp--2">
      <a class="marq__item" title="Go to site" href="./projects/adventureOnline/index.html" target="_blank">
        <img class="marq__img " src="./images/images/works/adv-3.webp" alt="Travel Agency Adventure Online" width="690"
          height="350" loading="lazy">
      </a>
      <a class="marq__item" title="Go to site" href="https://bulldogclub.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/buldog-club.webp" alt="Bulldog Club" width="690" height="350"
          loading="lazy">
      </a>
      <a class="marq__item" title="Go to site" href="./projects/adventureOnline/index.html" target="_blank">
        <video class="marq__img" src="./images/video/adv.mp4" loop muted autoplay loading="lazy"></video>
      </a>
      <a class="marq__item" title="Go to site" href="https://family-dental.vercel.app/" target="_blank">
        <img class="marq__img " src="./images/images/works/dentist-3.webp" alt="Dental clinic" width="690" height="350"
          loading="lazy">
      </a>
      <a class="marq__item" title="Go to site" href="./projects/weddingDress/index.html" target="_blank">
        <img class="marq__img " src="./images/images/works/wedding-2.webp" alt="ArtWalk Shoes Online Store" width="690"
          height="350" loading="lazy">
      </a>
    </div>
  </div>
</section>