<section class="section react">
  <div class="container">
    <div class="title react__title">
      <p class="title__text">
        App
      </p>
      <h2 class="title__headline">
        React
      </h2>
    </div>
    <ul class="react__list">
      <li class="react__item">
        <a href="#" class="react__link">
          <img class="react__img" src="./images/images/works/work-1-small.jpg" alt="website" width="690" height="450">
        </a>
        <article class="work-card">
          <p class="work-card__subtitle">
            Design & Development
          </p>
          <h2 class="work-card__title">
            Education center
          </h2>
          <p class="work-card__text">
            I’m Iryna Kozlova a digital designer and creative developer passionate about creating memorable
            experiences. With a
            unique fusion of technology and design, I create elegant and user friendly interfaces that captivate
            audiences and leave
            a lasting impression.
          </p>
          <ul class="skills work-card__skills react__skills">
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-react"></use>
              </svg>
            </li>
            <li class="skills__item">
              <svg class="skills__icon skills__icon--tailwind" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-tailwind"></use>
              </svg>
            </li>
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
              </svg>
            </li>
          </ul>

          <ul class="work-card__btns">
            <li class="work-card__btn">
              <a href="#" class="work-card__btn-link button button--secondary">
                Code
                <svg class="button__icon" width="20" height="20">
                  <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                </svg>
              </a>
            </li>
            <li class="work__btn">
              <a href="#" class="work-card__btn-link button">
                Demo
                <svg class="button__icon" width="20" height="20">
                  <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                </svg>
              </a>
            </li>
          </ul>
        </article>
      </li>
      <li class="react__item">
        <a href="#" class="react__link">
          <img class="react__img" src="./images/images/works/work-1-small.jpg" alt="website" width="690" height="450">
        </a>
        <article class="work-card">
          <p class="work-card__subtitle">
            Design & Development
          </p>
          <h2 class="work-card__title">
            Adventure online
          </h2>
          <p class="work-card__text">
            I’m Iryna Kozlova a digital designer and creative developer passionate about creating memorable
            experiences. With a
            unique fusion of technology and design, I create elegant and user friendly interfaces that captivate
            audiences and leave
            a lasting impression.
          </p>
          <ul class="skills work-card__skills">
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-html"></use>
              </svg>
            </li>
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-css"></use>
              </svg>
            </li>
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
              </svg>
            </li>
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
              </svg>
            </li>
            <li class="skills__item">
              <svg class="skills__icon" width="20" height="20">
                <use href="./images/icons/symbol-defs.svg#icon-gsap"></use>
              </svg>
            </li>
          </ul>

          <ul class="work-card__btns">
            <li class="work-card__btn">
              <a href="#" class="work-card__btn-link button button--secondary">
                Code
                <svg class="button__icon" width="20" height="20">
                  <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                </svg>
              </a>
            </li>
            <li class="work__btn">
              <a href="#" class="work-card__btn-link button">
                Demo
                <svg class="button__icon" width="20" height="20">
                  <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                </svg>
              </a>
            </li>
          </ul>
        </article>
      </li>
    </ul>


  </div>
</section>