<section class="section works">
  <div class="container">
    <div class="works__wrapper">
      <div class="works__title">
        <span class="headline works__headline">
          Latest
        </span>
        <h1 class="title-h1 works__title-h1">Work</h1>
        <!-- <p class="title__text title__r">
          Latest
        </p>
        <h2 class="title__headline">
          Work
        </h2> -->
      </div>
      <div class="works__fiters-btn">
        <button class=" fiters-btn button button--secondary" type="button" data-filter="all">
          All
        </button>
        <button class=" fiters-btn button button--secondary" type="button" data-filter="development">
          Development
        </button>
        <button class=" fiters-btn button button--secondary" type="button" data-filter="react">
          React
        </button>
        <button class="fiters-btn button button--secondary" type="button" data-filter="wordpress">
          Wordpress
        </button>
        <button class="fiters-btn button button--secondary" type="button" data-filter="design">
          Design
        </button>
      </div>
      <ul class="works__list">
        <li class="works__item react design development">
          <a class="works__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="works__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
              height="350" loading="lazy">
          </a>
          <article class="work-card ">
            <p class="work-card__subtitle">
              Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Italian Pizza
            </h2>

            <!-- <p class="work-card__text work-card__text--small ">
              Italian Pizza is a web application for ordering delicious pizzas online, built using the latest web
              technologies, including React and SCSS, to deliver a visually appealing and responsive design.
            </p> -->
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills works__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-react"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a class="work-card__btn-link button button--secondary" href="https://github.com/oilprint/pizza"
                    target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://italian-pizza-eta.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Site
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="works__item react design development">
          <a class="works__link hover-scale" href="https://education-center-one.vercel.app/" target="_blank">
            <img class="works__img" src="./images/images/works/education.webp" alt="website" width="690" height="350"
              loading="lazy">
          </a>
          <article class="work-card">
            <p class="work-card__subtitle">
              Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Education center
            </h2>
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills works__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-react"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-tailwind-small"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a href="https://github.com/oilprint/tech_group/tree/main"
                    class="work-card__btn-link button button--secondary" target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://education-center-one.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Site
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="works__item wordpress design ">
          <a class="works__link hover-scale" href="https://italian-pizza-eta.vercel.app/" target="_blank">
            <img class="works__img" src="./images/images/works/pizza.webp" alt="ArtWalk Shoes Online Store" width="690"
              height="350" loading="lazy">
          </a>
          <article class="work-card ">
            <p class="work-card__subtitle">
              Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Italian Pizza
            </h2>

            <!-- <p class="work-card__text work-card__text--small ">
              Italian Pizza is a web application for ordering delicious pizzas online, built using the latest web
              technologies, including React and SCSS, to deliver a visually appealing and responsive design.
            </p> -->
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills works__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-react"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a class="work-card__btn-link button button--secondary" href="https://github.com/oilprint/pizza"
                    target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://italian-pizza-eta.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Site
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="works__item wp  design development">
          <a class="works__link hover-scale" href="https://education-center-one.vercel.app/" target="_blank">
            <img class="works__img" src="./images/images/works/education.webp" alt="website" width="690" height="350"
              loading="lazy">
          </a>
          <article class="work-card">
            <p class="work-card__subtitle">
              Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Education center
            </h2>
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills works__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-react"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-tailwind-small"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a href="https://github.com/oilprint/tech_group/tree/main"
                    class="work-card__btn-link button button--secondary" target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://education-center-one.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Site
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="works__item wp  design development">
          <a class="works__link hover-scale" href="https://education-center-one.vercel.app/" target="_blank">
            <img class="works__img" src="./images/images/works/education.webp" alt="website" width="690" height="350"
              loading="lazy">
          </a>
          <article class="work-card">
            <p class="work-card__subtitle">
              Design & Development
            </p>
            <h2 class="work-card__title work-card__title--small title-anim">
              Education center
            </h2>
            <div class="work-card__bottom work-card__bottom--small">
              <ul class="skills work-card__skills works__skills">
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-react"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-tailwind-small"></use>
                  </svg>
                </li>
                <li class="skills__item">
                  <svg class="skills__icon" width="20" height="20">
                    <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                  </svg>
                </li>
              </ul>
              <ul class="work-card__btns">
                <li class="work-card__btn">
                  <a href="https://github.com/oilprint/tech_group/tree/main"
                    class="work-card__btn-link button button--secondary" target="_blank">
                    Code
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                    </svg>
                  </a>
                </li>
                <li class="work__btn">
                  <a href="https://education-center-one.vercel.app/" class="work-card__btn-link button" target="_blank">
                    Life Site
                    <svg class="button__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>