<ul class="serv__list">
  <li class="serv__item">
    <h3 class="serv__item-title">Design</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        Design
      </p>
      <p class="serv__item-text ">
        Having successfully designed numerous websites and applications, I specialize in crafting compelling and
        intuitive digital interfaces. Establishing a strong brand identity is essential for the success of any
        website.
      </p>
    </div>
  </li>
  <li class="serv__item">
    <h3 class="serv__item-title">Front end Development</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        Front end Development
      </p>
      <p class="serv__item-text">
        I develop flexible websites from the ground up, ensuring they harmonize perfectly with the overall design.
        My primary emphasis is on incorporating subtle micro animations, smooth transitions, and engaging
        interactive features.
      </p>
    </div>
  </li>
  <li class="serv__item">
    <h3 class="serv__item-title">The full package</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        The full package
      </p>
      <p class="serv__item-text">
        Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
        adept development capabilities empower me to produce exceptional results.
      </p>
    </div>
  </li>
  <li class="serv__item">
    <h3 class="serv__item-title">The full package</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        The full package
      </p>
      <p class="serv__item-text">
        Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
        adept development capabilities empower me to produce exceptional results.
      </p>
    </div>
  </li>
  <li class="serv__item">
    <h3 class="serv__item-title">The full package</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        The full package
      </p>
      <p class="serv__item-text">
        Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
        adept development capabilities empower me to produce exceptional results.
      </p>
    </div>
  </li>
  <li class="serv__item">
    <h3 class="serv__item-title">The full package</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        The full package
      </p>
      <p class="serv__item-text">
        Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
        adept development capabilities empower me to produce exceptional results.
      </p>
    </div>
  </li>
  <li class="serv__item">
    <h3 class="serv__item-title">The full package</h3>
    <div class="serv__item-img">
      <p class="serv__item-title serv__item-title--small">
        The full package
      </p>
      <p class="serv__item-text">
        Crafting a comprehensive website from inception to execution sets me apart. My acute design intuition and
        adept development capabilities empower me to produce exceptional results.
      </p>
    </div>
  </li>
</ul>