<section class="section work" id="work">
  <div class="container">
    <div class="title work__title ">
      <p class="title__text title__w">
        Recent
      </p>
      <h2 class="title__headline">
        Work
      </h2>
    </div>

    <div class="work__wrapper">
      <div class="work__left">
        <ul class="work__list">
          <li class="work__info">
            <article class="work-card">
              <p class="work-card__subtitle">
                Role: Design & Development
              </p>
              <h2 class="work-card__title">
                Website for a Travel Agency "Adventure online"
              </h2>
              <a class="work-card__extra-link" href="./projects/adventureOnline/index.html" target="_blank">
                <img class="work-card__extra-image" src="./images/images/works/travel-small.webp" alt="website"
                  width="600" height="300">
              </a>
              <p class="work-card__text">
                Development and creation of a web platform for a travel agency using modern
                technologies. The website offers convenient tour search, information on popular destinations, online
                booking capability, as well as detailed descriptions of services and customer reviews. Adaptive design
                and intuitive interface ensure a pleasant user experience for website visitors.
              </p>
              <div class="work-card__bottom">
                <ul class="skills work-card__skills">
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-html"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-css"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-gsap"></use>
                    </svg>
                  </li>
                </ul>
                <ul class="work-card__btns">
                  <li class="work-card__btn">
                    <a class="work-card__btn-link button button--secondary"
                      href="https://github.com/oilprint/adventure-online-com" target="_blank">
                      Code
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="work__btn">
                    <a class="work-card__btn-link button" href="./projects/adventureOnline/index.html" target="_blank">
                      Life Demo
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </li>
          <li class="work__info">
            <article class="work-card">
              <p class="work-card__subtitle">
                Role: Design & Development
              </p>
              <h2 class="work-card__title">
                Website for a Dental Clinic
              </h2>
              <a class="work-card__extra-link" href="https://family-dental-clinic.vercel.app/" target="_blank">
                <img class="work-card__extra-image" src="./images/images/works/dental-small.webp" alt="website"
                  width="600" height="300">
              </a>
              <p class="work-card__text">
                Development and creation of a website for a dental clinic, focusing on
                professionalism, service quality, and patient convenience. The website provides information about
                medical services, the team of dentists, prices, and promotions. Additionally, it offers online
                appointment booking, publishes helpful articles on dental care, and includes a contact form for
                inquiries and consultations.
              </p>
              <div class="work-card__bottom">
                <ul class="skills work-card__skills">
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-html"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-css"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-gsap"></use>
                    </svg>
                  </li>
                </ul>
                <ul class="work-card__btns">
                  <li class="work-card__btn">
                    <a class="work-card__btn-link button button--secondary"
                      href="https://github.com/oilprint/family-dental-clinic/tree/main" target="_blank">
                      Code
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="work__btn">
                    <a class="work-card__btn-link button" href="https://family-dental-clinic.vercel.app/"
                      target="_blank">
                      Life Demo
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </li>
          <li class="work__info">
            <article class="work-card">
              <p class="work-card__subtitle">
                Role: Design & Development
              </p>
              <h2 class="work-card__title">
                Wedding dress E-commerce
              </h2>
              <a class="work-card__extra-link" href="./projects/weddingDress/index.html" target="_blank">
                <img class="work-card__extra-image" src="./images/images/works/wedding-small.webp" alt="website"
                  width="600" height="300">
              </a>
              <p class="work-card__text">
                Development and creation of a web platform for an online wedding dress
                store, offering a wide selection of styles, sizes, and colors. Our store provides brides with a unique
                opportunity to choose from the latest collections of top designers, as well as to create custom orders.
              </p>
              <div class="work-card__bottom">
                <ul class="skills work-card__skills">
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-html"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-css"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-gsap"></use>
                    </svg>
                  </li>
                </ul>
                <ul class="work-card__btns">
                  <li class="work-card__btn">
                    <a class="work-card__btn-link button button--secondary"
                      href="https://github.com/oilprint/patricia-wedding" target="_blank">
                      Code
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="work__btn">
                    <a class="work-card__btn-link button" href="./projects/weddingDress/index.html" target="_blank">
                      Life Demo
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </li>
          <li class="work__info">
            <article class="work-card">
              <p class="work-card__subtitle">
                Role: Design & Development
              </p>
              <h2 class="work-card__title">
                Website for Bulldog Enthusiasts Club
              </h2>
              <a class="work-card__extra-link" href="./projects/bulldogClub/index.html" target="_blank">
                <img class="work-card__extra-image" src="./images/images/works/bulldog-small.webp" alt="website"
                  width="600" height="300">
              </a>
              <p class="work-card__text">
                Development and creation of a web platform for an online community
                of bulldog lovers. Our unique features include a forum for exchanging experiences, an events calendar,
                as well as information on the health and care of this breed. We have created a friendly and informative
                space where bulldog enthusiasts can communicate, share tips, and find new friends within their
                community.
              </p>
              <div class="work-card__bottom">
                <ul class="skills work-card__skills">
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-html"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-css"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-sass"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </li>
                  <li class="skills__item">
                    <svg class="skills__icon" width="20" height="20">
                      <use href="./images/icons/symbol-defs.svg#icon-gsap"></use>
                    </svg>
                  </li>
                </ul>
                <ul class="work-card__btns">
                  <li class="work-card__btn">
                    <a class="work-card__btn-link button button--secondary"
                      href="https://github.com/oilprint/bulldogclub" target="_blank">
                      Code
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-github-btn"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="work__btn">
                    <a class="work-card__btn-link button" href="./projects/bulldogClub/index.html" target="_blank">
                      Life Demo
                      <svg class="button__icon" width="20" height="20">
                        <use href="./images/icons/symbol-defs.svg#icon-outside"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="work__right">
        <div class="work__right-bl">
          <ul class="work__photo">
            <li class="work__photo-item">
              <a class="work__photo-link" href="./projects/adventureOnline/index.html" target="_blank">
                <img class="work__image" src="./images/images/works/travel-big.webp" alt="Website Travel Agency"
                  width="700" height="910">
              </a>
            </li>
            <li class="work__photo-item">
              <a class="work__photo-link" href="https://family-dental-clinic.vercel.app/" target="_blank">
                <img class="work__image" src="./images/images/works/dental-big.webp" alt="Website Dental Clinic"
                  width="700" height="910">
              </a>
            </li>
            <li class="work__photo-item">
              <a class="work__photo-link" href="./projects/weddingDress/index.html" target="_blank">
                <img class="work__image" src="./images/images/works/wedding-big.webp" alt="Wedding Dress E-commerce"
                  width="700" height="910">
              </a>
            </li>
            <li class="work__photo-item">
              <a class="work__photo-link" href="./projects/bulldogClub/index.html" target="_blank">
                <img class="work__image" src="./images/images/works/bulldog-big.webp" alt="Website Bulldog Club"
                  width="700" height="910">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>